* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    padding:1rem 0 ;
}
img {
    max-width: 100%;
    max-height:100%;
}
.container {
    max-width: 1075px;
    margin:0 auto;
}

.header_items { 
    display: flex;
align-items: center;
}
.header__item {
    list-style: none;
    
}
.logo {
    display: flex;
    align-items:center;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.header__item-link {
    text-decoration: none;
    color: #868686;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;   
    transition: .3s; 
}
.header__item-link:hover {
    background-color: #ffbb42;
padding-top: 10px;
padding-bottom: 10px;   
color: #fff;
}
.boost_up-items {
    color: #ffffff;
    font-family: "Open Sans";
    line-height: 24px;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -0.88px;
    line-height: normal;
    text-transform: uppercase;
}
.boost_up-p {
    color: #ffffff;
    font-family: "Open Sans";
    line-height: 24px;
    text-align: center;
    font-family: "Open Sans Light";
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 30px;
}

.notebook {
    padding-top: 100px;
    padding-bottom: 400px;
    background-color: #709dca;
    position: relative;
}
.input {
    padding: 15px;
    margin: 5px;
}
.input__parent {
    text-align: center;
}
#Request_a_quote {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    background-color: #ffbb42;
}
.cervice {
    height: 925px;
}
.notebook__comp {
    width:300px;
    height:300px;
    background: url('../images/Vector_Smart_Object.svg') no-repeat center center / cover;
    position: absolute;
    bottom:-100px;
    right:50%;
    transform: translateX(50%);
}